.card-img
{
    background-image: url("keqing_genshin_impact_character_render_by_deg5270_de911b7.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    height: 50rem; border-radius: 6px; 
    position: relative; 
}
.card-img:hover .card-layer
{
    background-image: url("beidou_genshin_impact_character_render_by_deg5270_de9119s.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0; left: 0;transition: background-color 200ms ease-in-out; cursor: pointer; 
}